* {
    margin: 0;
    padding: 0;
}

.container-maindiv {
    border: 2px solid grey;
    height: 115px;
    width: 300px;
    background-color: grey;
}

h3 {
    text-align: center;
    margin-top: 50px;
    color: white;
}

.container-subdiv {
    border: 2px solid black;
    height: 115px;
    width: 300px;
}

p {
    margin-top: 10px;
    margin-left: 10px;
}

table {
    margin-left: 10px;
}

.table-row {
    border: 1px solid black;
}

.containera {
    display: flex;
    gap: 20px;
}

.containerb {
    display: flex;
    gap: 20px;
}
